/* General Guidelines:
   - Use the provided purple color (#6f5eff) where applicable.
   - The default font family for HW1 should be Arial, sans-serif.
*/
/* Typography: */
/* 
"House Design" title 
    font-size: 1.5rem;
    font-weight: bold;
"House Styling" title 
    font-size: 20px;
Footer section headings: 'Store Info', 'About', 'Account', 'Policy'
    font-size: 14px;
Footer content 
    font-size: 12px;
For all other text, if not specified above, an approximate font size is acceptable. 
*/
.houseDesign {
    /*"House Design" title;*/
    color:black;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    color:grey;
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;
    background: white;
    border-radius: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navigation2{
    color:grey;
    text-decoration: none;
}

.housestyling {
    text-align: left;
    padding: 2%;
    color: #6f5eff;
    font-size: 20px;
    font-weight: bold;
    transform: translateX(8%);
}

.Footer {
    text-align: left;   
    font-weight: bold;
    font-size: 14px;
    font-family: sans-serif;
}

.FooterContent {
    text-align: left;   
    font-weight: normal;
    font-size: 12px;
    font-family: sans-serif;
    padding: 4px;
}

.FooterContent2{
    text-align: left;    
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
    padding: 4px;
    justify-content: space-between;
    align-items: center;
}

.footer-Container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    flex-wrap: wrap;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header{
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    flex-direction: column;
    margin-right: 4rem;
}



.centertext{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    font-family: sans-serif;
    color: black;
}

.button{
    margin-top: 1px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #6f5eff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.buttonfooter{
    margin-top: 12px;
    padding: 5px 6px;
    font-size: 14px;
    border: none;
    background-color: #6f5eff;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    width: 50%;
}

.imagecontainer{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin:0px auto;
    width: 90%;
    gap: 15px;
}

.img{
    flex: 1 0 45%;
    width: 85%; 
    height: 30%;
    object-fit: cover;
    border-radius: 5px;
}

.img :hover{
      transform: scale(1.1);    
}

.picture{
    width: 45%;
    max-width: 50%;
    height: 40%;
    margin: 10px;
    font-size: 20px;
    color: white;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.footer-Container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
    align-items: center;
    flex-wrap: nowrap;
}

.FooterContent3{
    text-align: left;    
    font-weight: normal;
    font-size: 12px;
    font-family: sans-serif;
    padding: 2px;
    justify-content: space-between;
    align-items: left;
}

.spacer{
    color: white;
    text-align: left;   
    font-weight: normal;
    font-size: 12px;
    font-family: sans-serif;
    padding: 2px;
}

/* TO-DO */